@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
:root{
    --poppins-font : 'Poppins', sans-serif;
    --background-main : #E4D4C8 ;
    --background-sec : #D0B49F ;
    --font-main : #523A28 ;
    --font-sec: #A47551 ;
   
}
*{
    margin: 0;
    padding-right:0 ;
    box-sizing: border-box;
    font-family: var(--poppins-font);
    font-weight: 300;
}
.userDeatails{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
.udName,#udGetName,#udproceedtogame{
    margin : 10px;
}
.udName{
    font-size:30px;
    color: var(--font-sec);
    font-weight: 900;
}
/* username input box */
#udGetName{
    color: var(--font-main) ;
    outline: none; 
    border: none;
    border-bottom: 3px solid var(--font-main);
    font-size: 25px;
    width: 30%;
    min-width: 260px ;
    max-width: 400px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 700;
}
#udproceedtogame{
    border: none;
    background-color: transparent;
    margin-top: 25px;
    width: 100px;
    height: 35px;
    background-color: var(--background-sec);
    color: var(--font-main);
    font-size: 16px;
    border-radius: 20px;
}
#udproceedtogame:hover{
    background-color: var(--font-main);
    color: var(--background-sec);
}

/* 2nd Page */
.gameScreen{
    display:none;
}

.gsUserDetail{
    display: flex;
    align-items: center ;
    justify-content: center;
}
.gsProfileImg{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    margin: 15px;
}
.gsUserName{
    font-size: 30px;
}
.gsGameScore{

    font-size: 16px;
    display: flex;
    gap: 20px;
}
.gsGameScore > p{
    color: var(--font-main);
    color: var(--font-sec);
}

/* Levels card view */

.levels{
    display: flex;
    flex-direction: column;
}
.level{
    background-color: var(--background-sec);
    height: calc(100vh / 6);
    min-width: 200px ;
    width: 70%;
    margin: 20px auto;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.level:hover{
    cursor: pointer;
}
.lvlLogo{
    width: 100%;
    text-align: center;
}
.level svg{
    margin: 20px 10px;
    fill: var(--font-main);
}
/* star rotate */
.level:hover svg{
    transition: 2000ms;
    transform: rotate(288deg);
}
.lvlName{
    font-size: 20px;
}

/* Game Page */
.gamePage{
    height: calc(100vh - 90px) ;
    display: none;
    flex-direction: column;
}
.gpQuestions{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    color: var(--font-sec);
}
.gpScore{
    height: 15%;
    width: 90%;
    margin: auto;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap : 20px
}

.gpInputBox{
    width: 100%;
    height: 15%;
}
#gpValue{
    margin: auto;
    width: 60%;
    min-height: 130px;
    height: 100%;
    font-size: 80px;
    text-align: center;
    border-bottom: 5px solid var(--font-main);
    color: var(--font-main);
}
.keyBoard{
    visibility: hidden;
}
.in{
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin: 10% auto;
    width: 70%;
    height: 60%;
}

.row{
    display: flex;
    gap: 10px;
    width: 100%;
    height:25% ;
    justify-content: center;
}
.row div{
    width: 33%;
    max-width: 300px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    
    font-size:30px ;
    width: 90%;
    height: 90%;
    border: none;
    border-radius: 20px;
    background-color: var(--background-sec);
    color: var(--font-main);
}
/* Score Page */
.scorePage{
    width: 80%;
    margin: auto;
    height: 90vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.spScore{
    text-align: center;
    font-size: 30px;
    margin: 20px;
}
#spScoreValue{
    font-size: 100px;
    text-align: center;
}
#spHighScoreValue{
    font-size: 30px;
    text-align: center;
}
.customValueInput{
    display: none;
    height: 40vh;
    width: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top:20% ;
    
}
#cvNum1  {
    height: 60px;
    width: 60%;
    max-width: 400px;
    text-align: center;
    font-size: 30px;
    border: none;
    border-bottom: 2px solid;
    outline: none;
}

#cvNum1 ,.cviStart{
    margin: 20px;
}
#cviStart{
    width: 20%;
    height: 60px;
}
#b2tMain{
    width: 200px;
    height: 40px;
    font-size: 15px;
    margin: 20px;
}
@media (min-width:800px) {
   
    .levels{
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20vh ;        
    }
    .level{
        max-width: 300px;
    }
    
    .in{
        width: 600px;
    }
    .row{
        height: 80px;
    }
    
}
@media(min-width:1200px){
    

    
    .in{
        visibility: hidden;
    } 
    .keyBoard{
        visibility: visible;
        height: 30px;
        margin: 20px;
        text-align: center;
       
    }
}